/*  Typography */

h1 {
  size: 25px;
  color: red;
}

li {
  font-size: 15px;
  font-style: italic;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout */

body {
  width: 500px;
}

#nav-btn {
  cursor: pointer;
  width: 100px;
}
